<div ng-controller="MobileSCController">
    <link rel="stylesheet" href="applications/16/style.css"/>
    <div id="play">
        <h3>Your Comments:</h3>
        <div class="m-messages">
            <div class="m-repeat" ng-repeat="message in messages track by $index">
                Me: {{message}}      
            </div>
        </div>
        <form name="chatForm" novalidate>  
            <input class="m-input" 
                   type="text" 
                   ng-model="chat" 
                   placeholder="Comment" required/>
        </form>
        <input type="submit" 
               class="login-submit" 
               value="Submit" 
               ng-click="message(chat);">
    </div>
</div>