<div class="quiz" ng-controller="QuizController">
	<div class="header">
		<div class="question-count">
			Question: <span class="current-question">0</span><span class="light">/<span class="total-questions">20</span></span>
		</div>
		<div class="player-count">
			Players: <span class="current-players">5</span>
		</div>
	</div>
	<div class="main">
		<div class="quiz-title">
			<h1>Return of the Aliens</h1>
			<h3>CROP CIRCLES. CROP TRIANGLES. UFOs. WHERE DOES IT END, EMMA? WHERE?</h3>
		</div>
		<img class="quiz-steps" src="images/steps.png"/>
	</div>
</div>