<div class="home">
	<div class="container icons-row">
		<div class="row">
			<div class="col-lg-4">
				<img class="row-icon" src="../images/icon-account-large.png" alt="login"/>
				<h2>Login</h2>
				<p>Sign up to access ANEXD</p>
			</div>
			<div class="col col-lg-4">
				<img class="row-icon" src="../images/icon-settings-large.png" alt="settings"/>
				<h2>Create</h2>
				<p>Choose a quiz or create your own</p>
			</div>
			<div class="col-lg-4">
				<img class="row-icon" src="../images/icon-play-large.png" alt="play"/>
				<h2>Play</h2>
				<p>Get a unique code to share with your players</p>
			</div>
		</div>
	</div>
	<div class="navbar navbar-default app-header">
        <div class="container">
         	<div class="navbar-header">
            	<h1>Check Out Our Apps!</h1>
          	</div>
          	<div id="navbar" class="navbar-collapse collapse">
            	<ul class="nav navbar-nav navbar-right">
              		<li class="active"><span class="app-filter">All</span></li>
              		<li><span class="app-filter">Quizzes</span></li>
              		<li><span class="app-filter">Games</span></li>
            	</ul>
          	</div>
        </div>
    </div>
    <div class="container-fluid app-list">
    	<div class="row">
    		<div class="col-lg-4">
    			<div class="app-tile">
    				<div class="app-tile-top">
		    			<span class="type">Quiz</span>
		    			<span class="rating">
		    				<i class="fa fa-star"/>
		    				<i class="fa fa-star"/>
		    				<i class="fa fa-star"/>
	    				</span>
	    			</div>
	    			<div class="app-tile-bottom">
	    				<h3>The Satan Test</h3>
	    				<p>Think you know Satan? Think Again in this exceptionally pagan quiz.</p>
	    			</div>
	    		</div>
    		</div>
	    	<div class="col-lg-4">
    			<div class="app-tile">
    				<div class="app-tile-top">
		    			<span class="type">Quiz</span>
		    			<span class="rating">
		    				<i class="fa fa-star"/>
		    				<i class="fa fa-star"/>
	    				</span>
	    			</div>
	    			<div class="app-tile-bottom">
	    				<h3>The Satan Test 2</h3>
	    				<p>MORE SATANIC GLORY FOR THE MASSES BOOYAKASHA. Redanko, meCarlos, alasinca, chupacabra.</p>
	    			</div>
	    		</div>
    		</div>
	    	<div class="col-lg-4">
    			<div class="app-tile">
    				<div class="app-tile-top">
		    			<span class="type">Quiz</span>
		    			<span class="rating">
		    				<i class="fa fa-star"/>
		    				<i class="fa fa-star"/>
		    				<i class="fa fa-star"/>
		    				<i class="fa fa-star"/>
	    				</span>
	    			</div>
	    			<div class="app-tile-bottom">
	    				<h3>The Satan Test 3</h3>
	    				<p>Please stop requesting Satan quizzes.</p>
	    			</div>
	    		</div>
    		</div>
    	</div>
    </div>
</div>