<div class="quiz">
	<div class="header">
		<div class="question-count">
			Question: <span class="current-question">0</span><span class="light">/<span class="total-questions">20</span></span>
		</div>
		<div class="player-count">
			Players: <span class="current-players">5</span>
		</div>
	</div>
	<div class="main">
		<div class="quiz-title">
			<h1>The Satan Test 3</h1>
			<h3>Please stop requesting Satan quizzes.</h3>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			anexd.sendToServer('stuff');
		});
	</script>
</div>