<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ANEXD | Multiplayer gaming through your phone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ANEXD" ng-controller="IndexController" id="top">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href=""><img src="images/logo.png" height="20px" alt="ANEXD"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" data-toggle="modal" data-target=".login-modal"><span class="nav-user" ng-show="loggedIn">{{user}}</span><img src="images/icon-account.png" class="nav-icon" alt="account"/></a></li>
            <li><a href=""><img src="images/icon-settings.png" class="nav-icon" alt="settings"/></a></li>
            <li><a href=""><img src="images/icon-play.png" class="nav-icon" alt="play"/></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade login-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form ng-if="!loggedIn">
              <div class="login-input-back email">
                <img class="email-icon" src="../images/icon-account-small.png"/>
                <input placeholder="email" type="text" class="login-input" name="email" ng-model="email">
              </div>
              <div class="login-input-back password">
                <img class="password-icon" src="../images/icon-password.png"/>
                <input placeholder="password" type="password" class="login-input" name="password" ng-model="password">
              </div>
              <input type="submit" value="Login / Signup" class="login-submit" name="submit" ng-click="checkAccount(email, password)">
              <small><a href="">Forgotten your password?</a></small>
            </form>
            <div class="account-info" ng-if="loggedIn">
              <h2>Hi, {{user}}!</h2>
              <br/>
              <button class="login-submit" ng-click="logout();">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid main">
      <!-- views -->
      <div ng-view></div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/home.js"></script>
    <script src="scripts/index.js"></script>
    <!-- endbuild -->

</body>
</html>
