/*DESKTOP*/

.left {
    float: left;
    height: 409px;
    width: 20%;
    border: 1px solid #ADADAD;
    border-right-width: 0px;
}

.right {
    float: right; 
    width: 80%;
    height: 409px;
    border: 1px solid #ADADAD;
    padding: 2px;
}

.main {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    transition: border-color 0.2s;
    font-weight: 100;
}

#scEmbed {
    width: 500px;
    height: auto;
}

.chatbox {
    height: 270px;
    width: 100%;
    padding: 5px;
    border-top: 1px solid #ADADAD;
    overflow-y: scroll;
}

.headers {
    font-size: 20pt;
    font-weight: 200;
    color: #7e7e7e;
    padding-left: 5px;
}

.d-input {
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border: 1px solid #ADADAD;
    padding: 5px;
    font-size: 13pt;
    transition: border-color 0.2s;
    font-weight: 100;
    letter-spacing: 1px;
    border-left: 0px;
    border-right: 0px;
}

.left .login-submit {
    width:100%;
    height:30px;
    font-size: 13pt;
    padding: 0px 0px;
}

/*MOBILE*/

.m-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ADADAD;
    padding: 5px;
    font-size: 13pt;
    transition: border-color 0.2s;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.m-messages{
    width: 100%;
    height: 280px;
    border: 1px solid #ADADAD;
    border-bottom: 0px;
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    transition: border-color 0.2s;
    font-weight: 100;
    overflow-y: scroll;
    
}