body{ 
	.fa-chevron-left{
		top: 13px;
		left: 10px;
		color: #222;
	}
	.back{
		display: block;
	}
}
.quiz{
	margin: 10px 0 0;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.3) 0 3px 15px;
	
	h1{
		font-size: 22pt;
	}
	
	h3{
		font-size: 20pt;
		font-weight: 200;
		color: #7e7e7e;
	}
	
	p{
		margin-top: 30px;
	}
	
	.buttons{
		margin-top: 30px;
		
		ul{
			margin: 0;
			padding: 0;
		
			li{
				display: block;
				margin: 15px 0;
    			padding: 5px;
				width: 100%;
				color: white;
				font-size: 15pt;
				font-weight: 200;
				border-radius: 5px;
				transition: opacity 0.5s;
				text-align: center;
    			line-height: 22px;
				cursor: pointer;
				
				&:nth-child(1){
					border: 2px solid #bb2253;
					background: linear-gradient(173deg, #c52457 50%, #bb2253 50%);
				}
				&:nth-child(2){
					border: 2px solid #21825c;
					background: linear-gradient(173deg, #248c63 50%, #21825c 50%);
				}
				&:nth-child(3){
					border: 2px solid #2772db;
					background: linear-gradient(173deg, #2976e3 50%, #2772db 50%);
				}
				&:nth-child(4){
					border: 2px solid #f5ca3e;
					background: linear-gradient(173deg, #facf44 50%, #f5ca3e 50%);
				}

				&.disabled{
					opacity: 0.2;
				}
			}
		}
	}
}