body{
    background: url('../images/bg.png');
	background-size: cover;
	background-color: #3D5663;
}

.play {
	.container{
		background-color: #fff;
		box-shadow: rgba(0,0,0,0.2) 0 10px 10px;
		margin: 50px auto;
    	padding: 20px;
	}
}
